<%= form_with(model: @task, local: true) do |form| %>

<h1><%= t('view.Editing screen') %></h1>

  <div class="task_name">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
  </div>
  <div class="task_details">
    <%= form.label :task_details %>
    <%= form.text_field :task_details %>
  </div>
  <div class="end_period">
    <%= form.label :end_period %>
    <%= form.text_field :end_period %>
  </div>
  <div class="task_status">
    <%= form.label :task_status %>
    <%= form.text_field :task_status %>
  </div>
  <div class="priority">
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </div>
  <div class="author">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>


  <%= form.submit %>
<% end %>


<%= link_to t('view.To list screen'),tasks_path %>
