<%= form_with(model: @task, local: true) do |form| %>

<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1><%= t('view.Editing screen') %></h1>
  <div class="task_name">
    <%= form.label :task_name %>
    <%= form.text_field :task_name, class:"form-control" %>
  </div>
  <div class="task_details">
    <%= form.label :task_details %>
    <%= form.text_field :task_details, class:"form-control" %>
  </div>
  <div class="end_period">
    <%= form.label :end_period %>
    <%= form.date_field :end_period, class:"form-control" %>
  </div>
 <div class="task_status">
    <%= form.label :task_status %>
    <%= form.select :task_status, { 未着手: "not_started", 着手中: "started_in", 完了: "complete"} %>
  </div>
   <div class="priority">
    <%= form.label :priority %>
    <%= form.select :priority, { 低: "row", 中: "medium", 高: "high"}%>
  </div>
  <%= form.submit %>
<% end %>


<%= link_to t('view.To list screen'),tasks_path %>
<div class="new_task"><%= link_to "タスク作成画面", new_task_path %></div>
<div class="my_task"><%= link_to "タスク一覧", tasks_path %></div>
