<h1><%= t('view.Task list') %></h1>

<%= form_with(model: Task.new, local: true, method: :get) do |form| %>

  <p><%= notice %></p>

  <%# <h1>タスク名・状態検索</h1> %>
  <div class="task_name">
    <%= form.text_field :search, class: "search-field", placeholder: "タイトルを入力して下さい。" %>
    <%= form.submit '検索', name: nil, class: "btn btn-default" %>
  <%# <h1>作成順</h1> %>
  <%= link_to "作成順", tasks_path(cleate_at: "true") %>
  <%# <h1>終了期限順</h1> %>
  <%= link_to "終了期限順", tasks_path(end_period: "true") %>
  <%# <h1>優先順位順</h1> %>
  <%= link_to "優先順位", tasks_path(priority: "true") %>

  <table>
    <tr>
      <th><%= t('view.task_name') %></th>
      <th><%= t('view.task_details') %></th>
      <th><%= t('view.end_period') %></th>
      <th><%= t('view.task_status') %></th>
      <th><%= t('view.priority') %></th>
      <th><%= t('view.author') %></th>
      <th><%= t('view.show') %></th>
      <th><%= t('view.edit') %></th>
      <th><%= t('view.destroy') %></th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_details %></td>
        <td><%= task.end_period %></td>
        <td><%= task.task_status_i18n %></td>
        <td><%= task.priority_i18n %></td>
        <td><%= task.author %></td>

        <td><%= link_to t('view.show'), task_path(task.id)%></td>
        <td><%= link_to t('view.edit'), edit_task_path(task.id), data: { confirm: t('view.Do you really want to edit it?')} %></td>
        <td><%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: t('view.Do you really want to delete this?')} %></td>
      </tr>
    <% end %>
<% end %>
  </table>

  <%= paginate(@tasks) %>