<h1><%= t('view.Task list') %></h1>

<p><%= notice %></p>

  <table>
    <tr>
      <th><%= t('view.task_name') %></th>
      <th><%= t('view.task_details') %></th>
      <th><%= t('view.end_period') %></th>
      <th><%= t('view.task_status') %></th>
      <th><%= t('view.priority') %></th>
      <th><%= t('view.author') %></th>
      <th><%= t('view.show') %></th>
      <th><%= t('view.edit') %></th>
      <th><%= t('view.destroy') %></th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_details %></td>
        <td><%= task.end_period %></td>
        <td><%= task.task_status %></td>
        <td><%= task.priority %></td>
        <td><%= task.author %></td>

        <td><%= link_to t('view.show'), task_path(task.id)%></td>
        <td><%= link_to t('view.edit'), edit_task_path(task.id), data: { confirm: t('view.Do you really want to edit it?')} %></td>
        <td><%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: t('view.Do you really want to delete this?')} %></td>
      </tr>
    <% end %>
  </table>