<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1><%= t('view.New creation screen') %></h1>
<%# <h1>タスク名</h1> %>
  <div class="task_name">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
  </div>
<%# <h1>タスク詳細</h1> %>
  <div class="task_details">
    <%= form.label :task_details %>
    <%= form.text_field :task_details %>
  </div>
<%# <h1>終了期限</h1> %>
  <div class="end_period">
    <%= form.label :end_period %>
    <%= form.date_field :end_period %>
  </div>
<%# <h1>状態（未着手か着手中か完了)</h1> %>
  <div class="task_status">
    <%= form.label :task_status %>
    <%= form.enum_select :task_status %>
   
  </div>
  <div class="priority">
    <%= form.label :priority %>
    <%= form.enum_select :priority %>


  </div>
<%# <h1>作者</h1> %>
  <div class="author">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>


  <%= form.submit %>
<% end %>


<%= link_to t('view.To list screen'),tasks_path %>
