<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1><%= t('view.New creation screen') %></h1>

    <div class="form-group">
      <%= form.label :task_name %>
      <%= form.text_field :task_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :task_details %>
      <%= form.text_field :task_details, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :end_period %>
      <%= form.date_field :end_period, class:"form-control" %>
    </div>
    <div class="down_list">
      <%= form.label :task_status %><br>
      <%= form.select :task_status, Task.task_statuses.keys.map{|k| [I18n.t("enums.task.task_status.#{k}"), k]}, include_blank: true %>
      <%# <%= form.select(:task_status, [['未着手', "未着手"], ['着手中': "着手中"], ['完了': "完了"]]) %>
    </div>
    <div class="down_list">
      <%= form.label :priority %><br>
      <%= form.select :priority, Task.priorities.keys.map{|k| [I18n.t("enums.task.priority.#{k}"), k]}, include_blank: true %>
      <%# <%= form.select(:priority, [['低', "低"], ['中': "中"], ['高': "高"]]) %> 
    </div>
    <div class="form-group">
      <%= form.label :author %>
      <%= form.text_field :author, class:"form-control" %>
  　</div>
    <%= form.submit(class: "btn btn-primary") %>
  <% end %>

<%= link_to t('view.To list screen'),tasks_path, class:"btn btn-primary" %>
