<div class ="show_task">
  <h1><%= t('view.Task details screen') %></h1>
  <table class="table">
    <div class="task_name">
    <h3>タスク名</h3>
      <%= @task.task_name %>
  </div>
  <div class="task_details">
   <h3>タスク詳細</h3>
      <%= @task.task_details %>
  </div>
  <div class="end_period">
    <h3>終了期限</h3>
      <%= @task.end_period %>
  </div>
 <div class="task_status">
   <h3>状態</h3>
      <%= @task.task_status %>
  </div>
   <div class="priority">
   <h3>優先順位</h3>
      <%= @task.priority %>
  </div>
  <div class="label_name">
    <h3>ラベル名</h3>
      <% @task.labels.each do |label_name| %>
      <%= label_name.name %>
      <br>
      <% end %>
  </div> 
  
</div>
<div class="new_task"><%= link_to "タスク作成画面", new_task_path, class:"btn btn-primary" %></div>
<div class="my_task"><%= link_to "タスク一覧", tasks_path, class:"btn btn-primary" %></div>
<div class="new_label"><%= link_to "ラベル作成画面", new_label_path, class:"btn btn-primary" %></div>
<div class="my_label"><%= link_to "ラベル一覧", labels_path, class:"btn btn-primary" %></div>