<h1>管理者画面</h1>
    <% @users.each do |user| %>
    <table class="table table-striped">
      <tr class="active">
        <th>ユーザー名</th>
        <th>管理者権限</th>
        <th>タスク数</th>
        <th>ユーザーマイページ</th>
        <th>ユーザー編集</th>
        <th>ユーザー削除</th>
      </tr>
      <tr class="active">
        <td><%= user.name %></td>
        <% if user.admin == true %>
          <td>権限あり</td>
        <% else %>
          <td>権限なし</td>
        <% end %>
          <td><%= user.tasks.count %></td>
          <td><%= link_to "詳細", user_path(user.id), class:"show_link" %></td>
          <td><%= link_to "編集", edit_admin_user_path(user.id), class:"edit_link", data: { confirm: '本当に編集していいですか？' } %></td>
          <td><%= link_to '削除', admin_user_path(user.id), class:"destroy_link", method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
      <tr class="active">
        <th><%= t('view.task_name') %></th>
        <th><%= t('view.task_details') %></th>
        <th><%= t('view.end_period') %></th>
        <th><%= t('view.task_status') %></th>
        <th><%= t('view.priority') %></th>
        <th><%= t('view.show') %></th>
      </tr>
        <% user.tasks.each do |task| %>
          <tr class="active">
            <td><%= task.task_name %></td>
            <td><%= task.task_details %></td>
            <td><%= task.end_period %></td>
            <td><%= I18n.t("enums.task.task_status.#{task.task_status}") %></td>
            <td><%= I18n.t("enums.task.priority.#{task.priority}") %></td>
            <td><%= link_to t('view.show'), task_path(task.id)%></td>
          </tr>
          <br>
        <% end %>
      <% end %>
    </table>
      <div class="new_task"><%= link_to "タスク作成画面", new_task_path, class:"btn btn-primary" %></div>
      <div class="my_task"><%= link_to "タスク一覧", tasks_path, class:"btn btn-primary" %></div>
      <div class="new_label"><%= link_to "ラベル作成画面", new_label_path, class:"btn btn-primary" %></div>
      <div class="my_label"><%= link_to "ラベル一覧", labels_path, class:"btn btn-primary" %></div>